<h3>About Us</h3>
<div>
  <p>Super secret repository of super heroes and demi gods</p>
  <button (click)="onMoreInfo()">Event binding example</button>
  <p>{{valueBindingText}}</p>
  <company-info [timeSinceLastIncident]="propertyBindingText"></company-info>
</div>

