<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/hero', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
      <p>{{hero.bio}}</p>
    </div>
  </a>
</div>
<hero-search></hero-search>
