<div class="mainContent clearfix">
  <div class="heroSelection">
    <h2>My Heroes</h2>
    <div>
      <label>Hero name:</label> <input #heroName />
      <button (click)="add(heroName.value); heroName.value=''">
        Add
      </button>
    </div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
      </li>
    </ul>
  </div>
  <div class="heroInfo" *ngIf="selectedHero">
    <hero-detail (randomHeroAdded)='randomHeroAdded()' [hero]="selectedHero"></hero-detail>
  </div>

</div>
