<div class="heroInfo" *ngIf="hero">
  <h2>Hero Information</h2>
  <h3>Current Hero: {{hero.name}}</h3>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name">
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
    <button type="button" (click)="onAddRandomHero()">Add random hero</button>
  </div>
  <div>
    {{hero.bio}}
  </div>
</div>
