<h1>Bouncing balls canvas example</h1>
<canvas style="border: 1px solid black"></canvas>
<div>
    <button (click)="start();">
      Start
    </button>
    <button (click)="stop();">
      Stop
    </button>
    <button (click)="add(1);">
      Add
    </button>
    <button (click)="cool();">
      Cool
    </button>
</div>
